* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: linear-gradient(to right, #0a64ad, #8dad0a);
    color: white;
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    grid-template-rows: repeat(3, minmax(50px, 1fr));
    height: 400px;
    width: 400px;
    border: solid white;
}

.grid-item {
    background-color: #d0d5db;
    border: solid white;
    display: grid;
    align-items: center;
    font-size: 4rem;
    color: black;
    cursor: pointer;
}

button {
    border: none;
    height: 60px;
    width: 200px;
    margin-bottom: 100px;
    font-size: 1.2rem;
    border-radius: 1.2rem;
    cursor: pointer;
}


